/* common_custom */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
}

.no-mar-pad {
    margin: 0 !important;
    padding: 0 !important;
}

.no-mar-padright {
    padding-right: 0;
}

.no-mar-padleft {
    padding-left: 0;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: normal;
}

h1, h2 {
    font-weight: 700 !important;
}

h3, h4 {
    font-weight: 600 !important;
}

.secGap {
    padding: 50px 0;
}

.secTitle {
    margin-bottom: 20px;
}

.vMore {
    padding: 14px 35px !important;
    background: #ffc600 !important;
    margin-right: 10px !important;
    color: #000 !important;
    font-weight: 600 !important;
    border-radius: 25px !important;
    text-decoration: underline !important;
    display: inline-block;
}

.vMore:hover {
    background: #f9cd33 !important;
}

#topRibbon {
    padding: 10px 0;
}

#topRibbon a {
    font-size: 15px;
    color: #00857a;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#mainFace {
    background: #f0f2f4;
    padding: 25px 0;
}

#mainFace .secGap {
    position: relative;
}

#mainFace a {
    color: #000;
}

.modal-body {
    background: #f1f2f4;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.modal-header {
    padding: 10px 15px;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25), 0 10px 20px rgba(0, 0, 0, .2);
    border: 0;
}

.modal.show .modal-dialog {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-backdrop.show {
    opacity: .9;
}

.modal-backdrop {
    background-color: #fff;
}

.close {
    color: #000 !important;
    text-shadow: 0 1px 0 #fff !important;
    opacity: 1 !important;
    font-size: 2.2rem !important;
}

#mainFace h1 {
    line-height: 1.3;
    font-size: 2.2rem;
    font-weight: 800 !important;
}

#mainFace p {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0;
}

#mainFace .logo a {
    text-decoration: underline;
    font-weight: 700;
}

#mainFace .logo a:hover {
    text-decoration: none;
}

#mainFace .vMore.watch {
    background: #fff !important;
}

#mainFace .vMore.watch i {
    margin-right: 7px;
}

.mobile {
    max-width: 38%;
    position: absolute;
    right: -60px;
    bottom: -25px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 65px;
}

#offer, #footNav {
    background: #00cfbb;
}

#offer {
    padding: 90px 0;
    text-align: center;
}

#offer h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
}

#offer h3 {
    font-size: 1.125rem;
    font-weight: 600 !important;
    line-height: normal;
}

#offer i {
    font-size: 50px;
    margin-bottom: 20px;
}

#offer p, .text p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.text p {
    font-size: 17px;
}

#testimonial {
    background: #f7f7f9;
    text-align: center;
    padding: 60px 0;
    position: relative;
}

.testiModal {
    position: absolute;
    bottom: -60;
    left: 30px;
    height: 365px !important;
}

#testimonial h4 {
    font-size: 17px;
    font-weight: 600 !important;
    margin-bottom: 15px;
}

blockquote {
    font-size: 1.5rem;
}

#needTalk h3 {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1.4;
    font-weight: 700 !important;
}

#needTalk .row {
    flex-direction: row;
    align-items: center;
}

.needTalk {
    text-align: right;
}

.needTalk img {
    height: 220px;
}

/* dash_page  */

.detailBlock {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 5px #00000059;
    text-align: center;
}

.profile_photo {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.profile_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #00cfbb;
}

ul.info {
    padding: 0;
    margin-bottom: 0;
    border: 1px solid #ddd;
    background: #3c3c3c;
    color: #fff;
}

ul.info li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

ul.info li {
    list-style: none;
    padding: 15px;
}

.no_people {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px;
    background: #00cfbb;
    color: #fff;
}

.help_cov {
    text-align: right;
}

/* help_page  */

.look {
    background: #fc4c01;
    color: #fff;
    padding: 14px;
    border-radius: 25px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.detailBlock .btn.sub_help {
    background: #4caf50;
    color: #fff;
}

.detailBlock .btn.sub_help:hover {
    background: #54bd58;
    color: #fff;
}

.detailBlock .dropdown-toggle {
    width: 100%;
    padding: 16px;
    border-radius: 0;
}

.detailBlock .form-control {
    height: 45px !important;
    margin-bottom: 15px;
}

.btn.sub_help {
    background: #3c3c3c;
    border-radius: 25px;
    padding: 12px 40px;
    color: #fff;
    cursor: pointer;
}

.btn.sub_help:hover, .btn.sub_help:focus {
    background: #545454;
}

.detailBlock b {
    font-size: 18px;
}

.autocomplete-root {
    margin-top: 10px;
}

/* .autocomplete-root .form-control {
    border: 0 !important;
    padding: 0 !important;
} */

/* thanks */

.thanks span {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 2px solid #00cfbb;
    padding-bottom: 5px;
}

.thanksWrap p {
    font-weight: 500;
}

.thanksWrap p:nth-last-child() {
    margin-bottom: 0;
}

.autocomplete-dropdown-container .form-control {
    background-color: #000;
    height: auto !important;
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.autocomplete-dropdown-container .form-control span {
    padding: 10px !important;
    display: inline-block;
}

.form-divider .suggestion {
    width: 65%;
}

.form-divider .suggestion span {
    width: 100%;
}

.center {
    display: flex;
    margin-top: 10%;
}

#form {
    margin: auto;
    border: 0px;
    /* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

/* Forgot page  */

#topHeader {
    position: relative;
    padding: 25px 0;
}

#topHeader h1 {
    font-size: 2.2rem;
    font-weight: 700!important;
}

#topHeader img {
    position: absolute;
    top: 13px;
    left: 30px;
    height: 65px;
    z-index: 1;
}

#forgetForm, #signUpWrap {
    min-height: calc(100vh - 106px);
    background: #f0f2f4;
}

#detailWrap, #thanksWrap, #policyWrap {
    background: #f0f2f4;
}

#mapWrap {
    border-top: 1px solid #000;
}

#thanksWrap {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    height: 45px;
    border-radius: 0;
}

#policyWrap p {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#policyWrap h2 {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

#policyWrap .row {
    padding: 30px 20px;
    background: #fff;
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}

/* login  */

.profile_photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.profile_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main #formWrap {
    height: 100vh;
}

.register, .signIn {
    border-radius: 25px;
    padding: 12px 40px;
    color: #fff;
    cursor: pointer;
    width: 55%;
}

.register {
    border: 2px solid #3c3c3c;
    color: #3c3c3c;
    margin-bottom: 20px;
}

.register:hover {
    background: #3c3c3c;
    color: #fff;
}

.signIn {
    background: #3c3c3c;
}

.signIn:hover {
    background: #232323;
    color: #fff;
}

#main #formWrap .formWrap {
    padding: 55px;
}

#formWrap .formWrap {
    padding: 15px;
}

#formWrap .profile_photo {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
}

#formWrap .form-control {
    height: 45px;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
    font-weight: 500;
}

#formWrap .cov-rem.clearfix {
    margin-top: 20px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#formWrap .rem:first-child {
    float: left;
}

#formWrap .rem:last-child {
    float: right;
}

#formWrap hr {
    margin: 6px 0;
    border-color: #909090;
}

#formWrap .small {
    margin: 0;
    font-size: 17px;
}

#formWrap .small a {
    color: #333;
    font-weight: 600;
}

#formWrap p.noac {
    text-align: center;
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#formWrap p.noac a {
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
}

#formWrap .rem input[type="checkbox"] {
    margin-right: 6px;
}

.btn.sub_help {
    background: #ffc600;
    border-radius: 25px;
    padding: 15px 75px;
    color: #252525;
    cursor: pointer;
    font-weight: 600;
}

.btn.sub_help:hover, .btn.sub_help:focus {
    background: #fbcd30;
    color: #000;
}

#formWrap h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #3f51b5;
}

/* register  */

.checkBox a {
    text-decoration: underline;
    text-transform: capitalize;
}

.checkBox a:hover {
    text-decoration: none;
}

#signUpWrap h3 {
    margin-bottom: 15px;
    border-left: 4px solid #3f51b5;
    padding-left: 20px;
}

.form-divider {
    padding: 20px;
    /* margin-bottom: 20px; */
}

.feild_title h4 {
    font-size: 1.3rem;
    padding-bottom: 10px;
    margin-bottom: 0;
    background: #ffffffde;
    padding: 15px;
}

.feild_entry .label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feild .form-control {
    border-radius: 0;
    width: 90%;
}

.feildCov {
    background: #ffffff47;
    padding: 20px;
}

.feild_entry {
    padding: 7px 0;
}

.checkBox ul {
    padding: 0;
}

.checkBox ul li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.checkBox input {
    margin-right: 10px;
    margin-bottom: 30px;
    float: left;
    margin-top: 4px;
    height: 15px;
    width: 15px;
}

select.form-control {
    height: 45px !important;
}

.checkBox label {
    font-size: 16px;
}

.submitBtn {
    text-align: center;
}

#backS a {
    position: absolute;
    background: #fc4c0126;
    color: #fc4c01;
    bottom: -34px;
    padding: 5px 10px;
    border-bottom: 2px solid #fc4d02;
    font-weight: 600;
}

/* message  */

#messageWrap {
    background: whitesmoke;
    height: calc(100vh - 84px);
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.messageCov {
    display: flex;
    background: #fff;
    padding: 30px;
    border: 8px solid #58646f;
    justify-content: center;
    flex-direction: column;
}

.messageCov h1 {
    font-size: 2.3rem;
}

.mail {
    position: relative;
    font-size: 25px;
    margin: 15px 0;
}

.mail:before, .mail:after {
    position: absolute;
    width: 10%;
    height: 3px;
    content: '';
    border-top: 1px solid #000;
    margin-top: .60em;
}

.mail:after {
    margin-left: 1%;
}

.mail:before {
    margin-left: -11%;
}

.mail span {
    background: #fff;
    padding: 0 15px;
    color: #fc4d02;
}

.messageCov p {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

/* additional components  */

.soonCov {
    background: #fff;
    border: 8px solid #58646f;
    padding: 60px 30px;
}

.soonCov p {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
}

.soonCov .mail span {
    font-weight: 600;
    font-size: 30px;
}

.soonCov .mail:before, .soonCov .mail:after {
    margin-top: 1em;
}

.back {
    color: #333333;
    font-size: 17px;
    font-weight: 600;
}

.back:hover {
    color: #333;
}

.back i {
    margin-right: 5px;
}

/* map  */

#mapWrap label {
    font-weight: 600 !important;
    font-size: 17px !important;
}

.mapResult {
    margin-top: 30px;
    text-align: center;
}

.mapResult .form-control {
    margin: 10px 0;
}

.mapResult .btn_sub_help {
    background: #4caf50;
    color: #fff;
    padding: 12px 40px;
    border-radius: 25px;
}

.mapResult .btn_sub_help:hover {
    background: #32a036;
}

.map_title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 23px;
    border-left: 3px solid #333;
    padding-left: 15px;
}

.mapCov {
    height: 350px;
}

.mapCov .mapCov {
    height: auto;
    margin-bottom: 30px;
}

#thanksWrap .formWrap {
    background: #fff;
    padding: 70px 50px;
    border: 8px solid #58646f
}

/* Footer  */

#footBTM {
    padding: 20px 0;
    background: #000;
    color: #fff;
}

#footBTM p {
    margin-bottom: 0;
}

#footNav {
    padding: 25px 0;
}

#footNav ul {
    padding: 0;
}

#footNav ul li:not(:last-child) {
    margin-right: 20px;
}

#footNav ul li {
    list-style: none;
    float: left;
}

#footNav ul li a {
    text-decoration: underline;
    font-size: 15px;
    font-weight: 700;
}

#footNav ul li a:hover {
    text-decoration: none;
}