@media (max-width: 767px) {
    .secGap {
        padding: 30px 0 !important;
    }
    #mainFace h1 {
        line-height: 1.2 !important;
        font-size: 1.75rem !important;
        font-stretch: normal !important;
        font-style: normal !important;
        line-height: normal !important;
        letter-spacing: normal !important;
        color: #111 !important;
    }
    #mainFace .vMore.watch {
        margin-bottom: 15px !important;
    }
    .mobile, .testiModal {
        display: none !important;
    }
    #offer {
        padding: 50px 0 !important;
    }
    .mobPad {
        padding: 10px 30px !important;
    }
    #testimonial {
        background: #e6e6ec !important;
    }
    .no_people {
        margin: 20px 0 !important;
    }
    .detailBlock {
        padding: 15px !important;
        padding-top: 30px !important;
    }
    .profile_photo {
        width: 100px !important;
        height: 100px !important;
    }
    .navbar img {
        height: 55px !important;
    }
    #topHeader {
        padding: 20px 0 !important;
    }
    #policyWrap .row {
        padding: 20px 5px 20px!important;
        background: #fff;
    }
    #policyWrap.secGap {
        padding: 0 !important;
    }
    .help_cov {
        margin-bottom: 15px !important;
    }
    .register, .signIn {
        width: 80% !important;
    }
    #formWrap .small, #formWrap .cov-rem.clearfix {
        font-size: 15px !important;
    }
    #formWrap p.noac {
        font-size: 16px !important;
    }
    .modal-body {
        padding: 15px 0 !important;
    }
    #formWrap .formWrap {
        padding: 0 !important;
    }
    #topHeader img {
        top: 3px !important;
        left: 3px !important;
        height: 38px !important;
    }
    #topHeader h1 {
        font-size: 1.9rem !important;
    }
    #topHeader {
        text-align: center !important;
    }
    .logo img {
        height: 55px !important;
    }
    .submitBtn {
        text-align: left !important;
    }
    .form-divider {
        padding: 12px 0 !important;
    }
    .feild .form-control {
        width: 100% !important;
    }
    .feild {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    button.nav-link.user {
        text-transform: capitalize !important;
    }
    #thanksWrap {
        height: calc(100vh - 84px) !important;
    }
    .mapCov {
        height: 300px;
        margin: 0 calc(50% - 50vw) !important;
    }
    .map_title {
        font-size: 20px !important;
    }
    .mail {
        font-size: 18px !important;
        margin: 8px 0 !important;
    }
    .messageCov h1 {
        font-size: 1.6rem !important;
    }
    .soonCov {
        padding: 30px 15px !important;
    }
    .soonCov .mail span {
        font-size: 23px !important;
    }
    .soonCov p {
        font-size: 16px !important;
    }
    #thanksWrap .formWrap {
        background: #fff !important;
        padding: 30px 20px !important;
    }
    #thanksWrap {
        height: calc(100vh - 84px) !important;
    }
    #policyWrap h2 {
        font-size: 1.5rem !important;
    }
    #policyWrap p {
        font-size: 17px !important;
    }
    #forgetForm .errorMessage, #signUpWrap .errorMessage {
        color: red;
        margin-top: 10px;
        margin-bottom: 0 !important;
    }
    #backS {
        bottom: -29px !important;
        font-size: 12px;
    }
    #backS a {
        bottom: -35px !important;
    }
    #forgetForm, #signUpWrap {
        min-height: calc(100vh - 84px) !important;
    }
    .optionBlock button {
        width: 100% !important;
    }
    .optionBlock {
        padding: 20px 20px !important;
    }
    #newNav {
        padding: 20px 10px;
    }
    #newNav img {
        position: absolute;
        z-index: 1;
        top: 3px !important;
        left: 3px !important;
        height: 38px !important;
    }
    #newNav.navbar-light .navbar-brand h1 {
        position: absolute;
        top: 22px;
        font-size: 1.7rem;
        font-weight: 700!important;
    }
    #newNav a.nav-link.Ripple-parent.active {
        padding: 15px 10px;
    }
    ul.navbar-nav.mr-auto {
        margin-top: 15px;
    }
    #contact_Wrap .info {
        position: relative !important;
        width: 100% !important;
        border-left: 3px solid #ffc600;
        bottom: -9px !important;
        margin: 10px 0;
    }
    .row.contact {
        flex-direction: column-reverse;
    }
    #contact_Wrap {
        padding: 0 !important;
    }
    #user-message .modal-body {
        padding: 20px 20px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 925px !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 460px !important;
    }
}

@media (min-width: 768px) {
    .cMenu {
        position: absolute !important;
        width: 79% !important;
        flex-direction: inherit !important;
        justify-content: center !important;
    }
    .label label {
        font-size: 16px !important;
        margin: 0 !important;
    }
    .feild_entry .label {
        text-align: right !important;
    }
    #newNav #navbarCollapse3 ul.navbar-nav.mr-auto {
        display: none !important;
    }
    .s-mob {
        display: none;
    }
    .nav-link .nav-link {
        padding: 0;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .register, .signIn {
        width: 70% !important;
    }
    .mobile {
        right: -20px !important;
    }
    .testiModal {
        display: none !important;
    }
    #detailWrap, #mapWrap, #contact_Wrap {
        min-height: calc(100vh - 92px)!important;
    }
    .messageCov {
        margin: 0 90px !important;
        min-height: auto !important;
    }
    .messageCov h1 {
        font-size: 2rem!important;
    }
    .messageCov {
        display: flex!important;
        background: #fff!important;
        padding: 40px 20px!important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    #detailWrap, #mapWrap {
        min-height: calc(100vh - 92px)!important;
    }
}

@media (min-width: 768px) {
    .messageCov {
        min-height: 400px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {}