@media (max-width: 767px) {
    .secGap {
        padding: 30px 0 !important;
    }
    #mainFace h1 {
        line-height: 1.2 !important;
        font-size: 1.75rem !important;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #111;
    }
    #mainFace .vMore.watch {
        margin-bottom: 15px;
    }
    .mobile, .testiModal {
        display: none;
    }
    #offer {
        padding: 50px 0 !important;
    }
    .mobPad {
        padding: 10px 30px;
    }
    #testimonial {
        background: #e6e6ec;
    }
    .no_people {
        margin: 20px 0;
    }
    .detailBlock {
        padding: 15px !important;
        padding-top: 30px !important;
    }
    .profile_photo {
        width: 100px !important;
        height: 100px !important;
    }
    .navbar img {
        height: 55px !important;
    }
    #topHeader {
        padding: 20px 0 !important;
    }
    #policyWrap .row {
        padding: 20px 5px !important;
        background: #fff;
        padding-top: 15px !important;
    }
    #policyWrap.secGap {
        padding: 0 !important;
        padding-top: 10px !important;
    }
    .help_cov {
        margin-bottom: 15px;
    }
    .register, .signIn {
        width: 80%;
    }
    #formWrap .small, #formWrap .cov-rem.clearfix {
        font-size: 15px !important;
    }
    #formWrap p.noac {
        font-size: 16px;
    }
    .modal-body {
        padding: 15px 0;
    }
    #formWrap .formWrap {
        padding: 0;
    }
    #topHeader img {
        top: 3px !important;
        left: 3px !important;
        height: 38px !important;
    }
    #topHeader h1 {
        font-size: 1.9rem !important;
    }
    #topHeader {
        text-align: center;
    }
    .logo img {
        height: 55px;
    }
    .submitBtn {
        text-align: left;
    }
    .form-divider {
        padding: 12px 0 !important;
    }
    .feild .form-control {
        width: 100% !important;
    }
    .feild {
        display: flex;
        flex-direction: column-reverse;
    }
    button.nav-link.user {
        text-transform: capitalize !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 925px !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 460px;
    }
}

@media (min-width: 768px) {
    .cMenu {
        position: absolute;
        width: 79%;
        flex-direction: inherit;
        justify-content: center;
    }
    .label label {
        font-size: 16px !important;
        margin: 0;
    }
    .feild_entry .label {
        text-align: right;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .register, .signIn {
        width: 70%;
    }
    .mobile {
        right: -20px !important;
    }
    .testiModal {
        display: none;
    }
    #detailWrap, #mapWrap {
        min-height: calc(100vh - 92px);
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    #detailWrap, #mapWrap {
        min-height: calc(100vh - 92px);
    }
}

@media (min-width: 768px) {
    .messageCov {
        min-height: 400px;
    }
}

@media (max-width: 767px) {
    .mail {
        font-size: 18px;
        margin: 8px 0;
    }
    .messageCov h1 {
        font-size: 1.6rem;
    }
    .soonCov {
        padding: 30px 15px;
    }
    .soonCov .mail span {
        font-size: 23px;
    }
    .soonCov p {
        font-size: 16px;
    }
    #thanksWrap .formWrap {
        background: #fff;
        padding: 30px 20px !important;
    }
    #thanksWrap {
        height: calc(100vh - 84px);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .messageCov {
        margin: 0 90px;
        min-height: auto;
    }
    .messageCov h1 {
        font-size: 2rem;
    }
    .messageCov {
        display: flex;
        background: #fff;
        padding: 40px 20px;
    }
}

#thanksWrap .formWrap {
    background: #fff;
    padding: 70px 50px;
    border: 8px solid #58646f
}