/* nav  */

nav.navbar-dark.default-color.navbar.navbar-expand-md {
    background: darkblue;
}

.navbar {
    border-bottom: 1px solid #000;
}

.navbar img {
    height: 65px;
}

.navbar-expand-md .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 17px;
}

button.nav-link {
    background: transparent;
    border: 0;
}

button.nav-link:hover {
    cursor: pointer;
}

button.nav-link.user {
    color: #fc4c01 !important;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.99);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(252, 76, 1);
}

button.navbar-toggler {
    border: 0;
    border-radius: 0;
}

button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}