#mapWrap label {
  font-weight: 700;
}

.mapResult {
  margin-top: 30px;
  text-align: center;
}

.mapResult .form-control {
  margin: 10px 0;
}

.mapResult .btn_sub_help {
  background: #4caf50;
  color: #fff;
  padding: 12px 40px;
  border-radius: 25px;
}

.mapResult .btn_sub_help:hover {
  background: #32a036;
}

.map_title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 23px;
  border-left: 3px solid #333;
  padding-left: 15px;
}

.mapCov {
  height: 350px;
}

.mapCov .mapCov {
  height: auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .mapCov {
    height: 300px;
    margin: 0 calc(50% - 50vw);
  }
  .map_title {
    font-size: 20px;
  }
}