
.btn_sub_help
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block ;
    font-size: 16px;
    margin-top: 43px;
    position: absolute;
    left: 40%;
     
  }

#mapWrap {
  padding: 40px 0;
}
#mapWrap label {
  font-weight: 700;
  border-left: 3px solid #333;
  padding-left: 15px;
}
.mapResult {
    text-align: center;
}
.mapResult .form-control{
  margin: 10px 0;
}
.mapResult .btn_sub_help {
  background: #545454;
  color: #fff;
  padding: 12px 40px;
  border-radius: 25px;
}
.form-control {
  height: 45px;
  background: #ffffff;;
   
}