.profile_photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.profile_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main #formWrap {
    height: 100vh;
}

.register, .signIn {
    border-radius: 25px;
    padding: 12px 40px;
    color: #fff;
    cursor: pointer;
    width: 55%;
}

.register {
    border: 2px solid #3c3c3c;
    color: #3c3c3c;
    margin-bottom: 20px;
}

.register:hover {
    background: #3c3c3c;
    color: #fff;
}

.signIn {
    background: #3c3c3c;
}

.signIn:hover {
    background: #232323;
    color: #fff;
}

#main #formWrap .formWrap {
    padding: 55px;
}

#formWrap .formWrap {
    padding: 15px;
}

#formWrap .profile_photo {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
}

#formWrap .form-control {
    height: 45px;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
    font-weight: 500;
}

#formWrap .cov-rem.clearfix {
    margin-top: 20px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#formWrap .rem:first-child {
    float: left;
}

#formWrap .rem:last-child {
    float: right;
}

#formWrap hr {
    margin: 6px 0;
    border-color: #909090;
}

#formWrap .small {
    margin: 0;
    font-size: 17px;
}

#formWrap .small a {
    color: #333;
    font-weight: 600;
}

#formWrap p.noac {
    text-align: center;
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#formWrap p.noac a {
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
}

#formWrap .rem input[type="checkbox"] {
    margin-right: 6px;
}

.btn.sub_help {
    background: #ffc600;
    border-radius: 25px;
    padding: 15px 75px;
    color: #252525;
    cursor: pointer;
    font-weight: 600;
}

.btn.sub_help:hover, .btn.sub_help:focus {
    background: #fbcd30;
    color: #000;
}

#formWrap h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #3f51b5;
}

@media (max-width: 767px) {
    .help_cov {
        margin-bottom: 15px;
    }
    .register, .signIn {
        width: 80%;
    }
    #formWrap .small, #formWrap .cov-rem.clearfix {
        font-size: 15px !important;
    }
    #formWrap p.noac {
        font-size: 16px;
    }
    .modal-body {
        padding: 15px 0;
    }
    #formWrap .formWrap {
        padding: 0;
    }
    #topHeader img {
        top: 3px !important;
        left: 3px !important;
        height: 38px !important;
    }
    #topHeader h1 {
        font-size: 1.9rem !important;
    }
    #topHeader {
        text-align: center;
    }
    .logo img {
        height: 55px;
    }
}

@media (min-width: 768px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    #formWrap .formWrap {
        width: 60%;
    }
    #formWrap {
        height: 100vh;
    }
    .register, .signIn {
        width: 70%;
    }
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}