#messageWrap {
    background: whitesmoke;
    height: calc(100vh - 64px);
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.messageCov {
    display: flex;
    background: #fff;
    padding: 30px;
    border: 8px solid #3f51b5;
    justify-content: center;
    flex-direction: column;
}

.messageCov h1 {
    font-size: 2.7rem;
}

.mail {
    position: relative;
    font-size: 25px;
    margin: 15px 0;
}

.mail:before, .mail:after {
    position: absolute;
    width: 10%;
    height: 3px;
    content: '';
    border-top: 1px solid #000;
    margin-top: .60em;
}

.mail:after {
    margin-left: 1%;
}

.mail:before {
    margin-left: -11%;
}

.mail span {
    background: #fff;
    padding: 0 15px;
    color: #4a5fd0;
}

.messageCov p {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

/* additional components  */

.soonCov {
    background: #fff;
    border: 8px solid #3f51b5;
    padding: 60px 30px;
}

.soonCov p {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
}

.soonCov .mail span {
    font-weight: 600;
    font-size: 30px;
}

.soonCov .mail:before, .soonCov .mail:after {
    margin-top: 1em;
}

.back {
    color: #3f51b5;
    font-size: 17px;
    font-weight: 600;
}

.back:hover {
    color: #333;
}

@media (min-width: 768px) {
    .messageCov {
        margin: 0 150px;
        min-height: 400px;
    }
}

@media (max-width: 767px) {
    .mail {
        font-size: 18px;
        margin: 8px 0;
    }
    .messageCov h1 {
        font-size: 1.6rem;
    }
    .soonCov {
        padding: 30px 15px;
    }
    .soonCov .mail span {
        font-size: 23px;
    }
    .soonCov p {
        font-size: 16px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .messageCov {
        margin: 0 90px;
        min-height: auto;
    }
    .messageCov h1 {
        font-size: 2rem;
    }
}