.thanks span {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 2px solid #3f51b5;
    padding-bottom: 5px;
}

.thanksWrap p {
    font-weight: 500;
}

.thanksWrap p:nth-last-child() {
    margin-bottom: 0;
}

.suggestion {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.form-divider .suggestion {
    width: 65%;
}

.form-divider .suggestion span {
    width: 100%;
}

/* Forgot page  */

#topHeader {
    position: relative;
    padding: 25px 0;
}

#topHeader h1 {
    font-size: 2.2rem;
    font-weight: 700!important;
}

#topHeader img {
    position: absolute;
    left: 0;
}

#forgetForm {
    min-height: calc(100vh - 96px);
    background: #f0f2f4;
}

.form-control {
    height: 50px;
    border-radius: 0;
}