/* common_custom */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
}

.no-mar-pad {
    margin: 0 !important;
    padding: 0 !important;
}

.no-mar-padright {
    padding-right: 0;
}

.no-mar-padleft {
    padding-left: 0;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

p {
    line-height: 1.7;
}

h1,
h2,
h3,
h4 {
    /* font-family: 'Lora', serif; */
    font-family: 'Roboto Slab', serif;
}

.profile_photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.profile_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main #formWrap{
    height: 100vh; 
}
.register, .signIn{
   border-radius: 25px;
   padding: 12px 40px;
   color: #fff;
   cursor: pointer;
   width: 55%;
}
.register{
   border: 2px solid #3c3c3c;
   color: #3c3c3c;
   margin-bottom: 20px;
}
.register:hover{
   background: #3c3c3c;
   color: #fff;
}
.signIn{
   background: #3c3c3c;
}
.signIn:hover{
   background: #232323;
   color: #fff;
}
#main #formWrap .formWrap {
   padding: 55px;
}
#formWrap {
   padding: 50px 0;
   display: flex;
   /* height: 100vh; */
   flex-direction: column;
   justify-content: center;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c0f1), color-stop(100%,#10e281));
}
#formWrap .formWrap{
   padding: 25px;
   background: #fff;
   box-shadow: 0px 0px 0px 5px rgba( 255,255,255,0.4 ), 0px 4px 20px rgba( 0,0,0,0.33 );
   -moz-border-radius: 5px;
   border-radius: 5px;
   width: 37%;
   margin: 0 auto;
}
#formWrap .form-control{
   margin-bottom: 15px;
}
#formWrap .profile_photo {
   width: 130px;
   height: 130px;
   margin-bottom: 15px;
}
#formWrap .form-control {
   height: 45px;
}

.btn.sub_help {
    background: #3c3c3c;
    border-radius: 25px;
    padding: 12px 40px;
    color: #fff;
    cursor: pointer;
}
.btn.sub_help:hover, .btn.sub_help:focus{
    background: #545454;
}
@media (max-width: 767px) {
    #formWrap .formWrap {
        width: 100%;
    }
    .help_cov {
       margin-bottom: 15px;
    }
    .register, .signIn {
        width: 80%;
    }

}

@media (min-width: 768px) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    #formWrap .formWrap {
        width: 60%;
    }
    #formWrap {
        height: 100vh;}
    .register, .signIn {
        width: 70%;
    }
}